<!DOCTYPE html>
<html lang="en">
    {% include 'djangoapp/_head.html' %}
    <body>
        {% include 'djangoapp/_nav.html' %}
        
        <div class="container-fluid px-5">
            <div class="row gx-20 pt-3">
                <div class="col">
                    <h1>
                        Welcome to <strong>Best Cars</strong>, home to an aggregator of the best car dealerships in North America. We give you best deal on domestic and imported cars.
                    </h1>
                </div>
            </div>
        </div>
    </body>

</html>
