<!DOCTYPE html>
<html lang="en">
    {% include 'djangoapp/_head.html' %}
    <body>
        {% include 'djangoapp/_nav.html' %}
        <div class="container-fluid px-5">
            <div class="row gx-20 pt-3">
                <div class="col">
             
                    <h3>Want to get in touch? We're here to help!</h3>
                    <p>
                        Call us @ 1-800-CARBEST<br/>
                        Or drop by our offices at <b><a target="_blank" href="https://goo.gl/maps/E1MA7TT4m1m3vyhR9">5580 Fuller Rd., Silver Springs, New York 14550</a></b>
                    </p>
                </div>
            </div>
        </div>
    </body>

</html>
