<!DOCTYPE html>
<html lang="en">
    {% load static %}

    <html lang="en">
        {% include 'djangoapp/_head.html' %}
        <body>
            {% include 'djangoapp/_nav.html' %}

            {% if user.is_authenticated %}
                add_review
            {% endif %}
            <div class="card-columns">
                {% for review in reviews %}
                    <div class="card">

                        <img width="30px" class="card-img-left" src="/media/emoji/{{review.sentiment}}.png" class="card-img-left">

                        
                        <div class="card-body">
                            {{review.car_make}}
                        </div>
                    </div>
                {% endfor %}
            </div>
            
            

    <!--Add a nav bar here -->

    <!-- Add reviews as cards -->

    </body>

</html>